h1{
    color: blue;
    background-color: white
    }



table{width: 815px;
    margin: auto;
    padding: 18px;
    background: blueviolet;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}



